<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    </head>
 <body>
    {{>partials/header}}
  <div class="info-section">
    <h1> About Us </h1>
    <p>The Global Pandemic has caused the need for people to be aware of ever changing stats</p>
    <p>This website aims to grab the data that is available from a ariety of API's about cases and deaths, and display this in a more digestible manner</p>
  </div>
 </body>
</html>
