DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{>partials/header}}
    <div class="info-section" style="height: auto !important;">
    <div class="cd-faq__item">
        <a class="cd-faq__trigger" href=""><span>Where is this information gathered from?</span></a>
        <div class="cd-faq__content">
  <div class="text-component">
    <p></p>
  </div>
        </div> 
    </div>

    <div class="cd-faq__item">
        <a class="cd-faq__trigger" href=""><span>Is this a paid for website?</span></a>
        <div class="cd-faq__content">
  <div class="text-component">
    <p></p>
  </div>
        </div> 
    </div>

    <div class="cd-faq__item">
        <a class="cd-faq__trigger" href=""><span>My postcode doesn't work, what should I do?</span></a>
        <div class="cd-faq__content">
  <div class="text-component">
    <p></p> 
    </div>

    <div class="cd-faq__item">
        <a class="cd-faq__trigger" href=""><span>The interactive map doesn't work on my browser, what should I do?</span></a>
        <div class="cd-faq__content">
  <div class="text-component">
    <p></p>
        </div> 
    </div>

    <div class="cd-faq__item">
        <a class="cd-faq__trigger" href=""><span>I'm only able to view results through the pie chart format, how do I view it through a graph?</span></a>
        <div class="cd-faq__content">
  <div class="text-component">
    <p> </p>
  </div>
        </div> 
    </div>

    </div>
    
</body>
</html>